.li-guiones a {
    color:rgb(113, 141, 218);
}

center b {
    color: rgb(155, 78, 207);
}
 

.contact-form__h3 {
    color: rgb(92, 148, 117);
    font-family: rockwell;
    font-size: 25px;
    background-color: rgb(236, 171, 202);    
    padding: 5px;
    margin: 10px;
}


.title-form__h1 {
     color:#7173da;
     font-size: 38px;
}










